#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --parallel

override_dh_auto_build:
	dh_auto_build -- \
	 CFLAGS+='-g -O2 -Wall -Wno-parentheses -Wno-char-subscripts -Wno-uninitialized'

override_dh_auto_test:

override_dh_auto_install:

override_dh_installchangelog:
	dh_installchangelog changes

override_dh_strip:
	dh_strip
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	strip --verbose --remove-section=.comment --remove-section=.note debian/f2c/usr/bin/f2c
endif
